/*Porfolio en responsive*/



/*Slider au :hover*/
.slideshow
{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.sContent
{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 200%;
    transition: left 1s;
    background-image: url(images/portfolio/01.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.sContent li
{
    display: inline;
}

.slideshow:hover .sContent
{
    left: -600px;
}

